<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${'Книга: ' + book.getTitle()}">VALUE</p>
<p th:text="${'Автор: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Год: ' + book.getYear()}">VALUE</p>


<div th:if="${owner}">
    <p th:text="${'Книга сейчас у: ' + owner.getFullName()}">VALUE</p>
    <div th:if="${book.getReturnDate() != null}">
        <p th:text="${'Книгу должны вернуть до: ' + book.getReturnDate()}">VALUE</p>
    </div>


    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>


<div th:if="${people}">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <br/>
    <form th:method="PATCH" th:action="@{/books/{id}/giveTo(id=${book.getId()})}">

        <lavel for="person">Выберете человека:</lavel>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>

        <input type="submit" value="Назначить книгу">
    </form>
</div>


<br/>
<hr/>
<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<form th:action="@{/books}">
    <input type="submit" value="К книгам ">
</form>

</body>
</html>